[submodule "cookbooks/ii-usb"]
	path = cookbooks/ii-usb
	url = git://github.com/ii-cookbooks/ii-usb.git
[submodule "cookbooks/ii-ubiquity"]
	path = cookbooks/ii-ubiquity
	url = git://github.com/ii-cookbooks/ii-ubiquity.git
[submodule "cookbooks/ii-lxc"]
	path = cookbooks/ii-lxc
	url = git://github.com/ii-cookbooks/ii-lxc.git
[submodule "cookbooks/ii-knife-workstation"]
	path = cookbooks/ii-knife-workstation
	url = git://github.com/ii-cookbooks/ii-knife-workstation.git
[submodule "cookbooks/ii-chef-server"]
	path = cookbooks/ii-chef-server
	url = git://github.com/ii-cookbooks/ii-chef-server.git
[submodule "cookbooks/ii-fileserver"]
	path = cookbooks/ii-fileserver
	url = git://github.com/ii-cookbooks/ii-fileserver.git
[submodule "cookbooks/debmirror"]
	path = cookbooks/debmirror
	url = git://github.com/hh-cookbooks/debmirror.git
[submodule "cookbooks/cd-tools"]
	path = cookbooks/cd-tools
	url = git://github.com/easybake-recipes/cd-tools.git
[submodule "cookbooks/gerrit"]
	path = cookbooks/gerrit
	url = git://github.com/easybake-recipes/gerrit.git
[submodule "cookbooks/foodcritic"]
	path = cookbooks/foodcritic
	url = git://github.com/easybake-recipes/foodcritic.git
[submodule "cookbooks/easybake-workstation"]
	path = cookbooks/easybake-workstation
	url = git://github.com/easybake-cookbooks/easybake-workstation.git
[submodule "repos/cloud-kitchen"]
	path = repos/cloud-kitchen
	url = git://github.com/hh/cloud-kitchen.git
